html {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(#0f2027, #203a43, #2c5364);
    width: 100%;
    height: auto;
}


#heading {
    text-align: center;
    padding-top: 50px;
}


.brandName {
    color: #FFFFFF;
    text-shadow: 0px 0px 7px;
    font-size: 2vw;
    text-shadow: 0 0 4px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18f0ff, 0 0 30px #53ece0, 0 0 40px #9aff7e, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.moto {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    font-size: 2vw;
    color: #FFFFFF;
}


/* SEARCH BAR STUFF*/
#searchbar {
    width: 245px;
    height: 40px;
    padding: 8px;
    border-radius: 7px;
    position: relative;
    margin-top: 5%;
    right: -35%;
}



#searchbutton {
    display: border;
    color: #f0f0f0;
    background-color: #BBB;
    text-shadow: 0 0 4px #FFFFF0, 0 0 10px #FFFFF0, 0 0 15px #FFFFF0, 0 0 10px #FFFFF0;
    position: relative;
    right: -425px;
    border-radius: 55px;

}

button:hover {
    background-color: #999;

}

#button1 {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 20%;
}


#button2 {

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 20%;
}

footer {
    background-color: #BBB;
    height: 8vh;
}